VITE_SUPABASE_URL=https://wockkjrllzrspwwsxxjb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvY2tranJsbHpyc3B3d3N4eGpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MDM3NTMsImV4cCI6MjA5ODk3OTc1M30.AlX3gnmSEqHJlrebG05pyqD3ors1mExEWrSpPD7Oz_c
VITE_APP_NAME=vantrack
